# MMA 865, Individual Assignment 1

Last Updated December 11, 2023.

- [Jose, Chua]
- [Student number]
- [Date]

# Part 1: Sentiment Analysis via the ML-based approach

Download the “Product Sentiment” dataset from the course portal: sentiment_train.csv and sentiment_test.csv.

### Part 1.a. Loading and Prep

Load, clean, and preprocess the data as you find necessary.

In [34]:
#libraries
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
import langdetect 
from langdetect import detect

In [5]:
#importing test and train data

df_train = pd.read_csv("sentiment_train.csv")

print(df_train.info())
print(df_train.head())

df_test = pd.read_csv("sentiment_test.csv")

print(df_train.info())
print(df_train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  2400 non-null   object
 1   Polarity  2400 non-null   int64
dtypes: int64(1), object(1)
memory usage: 37.6+ KB
None
                                            Sentence  Polarity
0                           Wow... Loved this place.         1
1                                 Crust is not good.         0
2          Not tasty and the texture was just nasty.         0
3  Stopped by during the late May bank holiday of...         1
4  The selection on the menu was great and so wer...         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  2400 non-null   object
 1   Polarity  2400 non-null   int64
dtypes: int64(1), object(1)
memory usage: 37.6+ KB
None
                                            Sentence  Polarity
0                           Wow... Loved this place.         1
1                                 Crust is not good.         0
2          Not tasty and the texture was just nasty.         0
3  Stopped by during the late May bank holiday of...         1
4  The selection on the menu was great and so wer...         1

In [2]:
df_train.head(10)

                                            Sentence  Polarity
0                           Wow... Loved this place.         1
1                                 Crust is not good.         0
2          Not tasty and the texture was just nasty.         0
3  Stopped by during the late May bank holiday of...         1
4  The selection on the menu was great and so wer...         1
5     Now I am getting angry and I want my damn pho.         0
6              Honeslty it didn't taste THAT fresh.)         0
7  The potatoes were like rubber and you could te...         0
8                          The fries were great too.         1
9                                     A great touch.         1

**Cleaning**
1. Case normalization
2. Removing punctuation
3. Removing extra whitespace
4. removing numbers 
5. Removing weird characters

In [18]:
#tokenization

df_train['token_sen']=df_train['Sentence'].apply(word_tokenize)

In [ ]:
#checking for other languages
df_train['Language'] = df_train['Sentence'].apply(detect)
unique_languages = df_train['Language'].unique()

print('detected languages', unique_languages)

detected languages ['en' 'af' 'vi' 'de' 'so' 'no' 'fr' 'nl' 'ca' 'es' 'it' 'da' 'ro' 'et'
 'tl' 'sq' 'cy' 'id' 'sv']

In [47]:
df_train[df_train['Language'] == 'vi'].head(10)

,Sentence,Polarity,token_sen,Language
26,#NAME?,0,"[#, NAME, ?]",vi
71,#NAME?,1,"[#, NAME, ?]",vi
219,#NAME?,1,"[#, NAME, ?]",vi
904,#NAME?,0,"[#, NAME, ?]",vi
1293,DO NOT PURCHASE THIS PHONE.,0,"[DO, NOT, PURCHASE, THIS, PHONE, .]",vi
1976,SWEETEST PHONE!!!,1,"[SWEETEST, PHONE, !, !, !]",vi

In [19]:
df_train.head(20)

,Sentence,Polarity,token_sen
0,Wow... Loved this place.,1,"[Wow, ..., Loved, this, place, .]"
1,Crust is not good.,0,"[Crust, is, not, good, .]"
2,Not tasty and the texture was just nasty.,0,"[Not, tasty, and, the, texture, was, just, nas..."
3,Stopped by during the late May bank holiday of...,1,"[Stopped, by, during, the, late, May, bank, ho..."
4,The selection on the menu was great and so wer...,1,"[The, selection, on, the, menu, was, great, an..."
5,Now I am getting angry and I want my damn pho.,0,"[Now, I, am, getting, angry, and, I, want, my,..."
6,Honeslty it didn't taste THAT fresh.),0,"[Honeslty, it, did, n't, taste, THAT, fresh, ...."
7,The potatoes were like rubber and you could te...,0,"[The, potatoes, were, like, rubber, and, you, ..."
8,The fries were great too.,1,"[The, fries, were, great, too, .]"
9,A great touch.,1,"[A, great, touch, .]"
10,Service was very prompt.,1,"[Service, was, very, prompt, .]"
11,Would not go back.,0,"[Would, not, go, back, .]"
12,The cashier had no care what so ever on what I...,0,"[The, cashier, had, no, care, what, so, ever, ..."
13,"I tried the Cape Cod ravoli, chicken,with cran...",1,"[I, tried, the, Cape, Cod, ravoli, ,, chicken,..."
14,I was disgusted because I was pretty sure that...,0,"[I, was, disgusted, because, I, was, pretty, s..."
15,I was shocked because no signs indicate cash o...,0,"[I, was, shocked, because, no, signs, indicate..."
16,Highly recommended.,1,"[Highly, recommended, .]"
17,Waitress was a little slow in service.,0,"[Waitress, was, a, little, slow, in, service, .]"
18,"This place is not worth your time, let alone V...",0,"[This, place, is, not, worth, your, time, ,, l..."
19,did not like at all.,0,"[did, not, like, at, all, .]"

### Part 1.b. Modeling

Use your favorite ML algorithm to train a classification model.  Don’t forget everything that we’ve learned in our ML course: hyperparameter tuning, cross validation, handling imbalanced data, etc. Make reasonable decisions and try to create the best-performing classifier that you can.

In [2]:
# TODO

### Part 1.c. Assessing

Use the testing data to measure the accuracy and F1-score of your model.

In [ ]:
# TODO

### Part 2. Given the accuracy and F1-score of your model, are you satisfied with the results, from a business point of view? Explain.

TODO: Insert your answer here.

### Part 3. Show five example instances in which your model’s predictions were incorrect. Describe why you think the model was wrong. Don’t just guess: dig deep to figure out the root cause.

TODO: Insert your answer here.

In [3]:
# TODO: Feel free to use code as well to answer this question. Or not. Up to you.